<form class="d-inline" method="post" action="{{ path('admin_feed_delete', {'id': feed.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce feed ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feed.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
